{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <div class="container">
        {% if annonces %}
            <div class="decalage"></div>
            <h1 class="my-5 text-white titlePageAnnonce"><strong>Annonces du Quartier</strong></h1>
            <div class="row">
                {% for annonce in annonces  %}
                    <div class="col-lg-4 col-12 " style="margin-bottom: 50px;">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                {{ include ('annonce/typeAnnonce.html.twig')  }}
                            </div>
                            {{ include ('annonce/imageAnnonce.html.twig')  }}
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{ annonce.title }}
                                </h4>
                                <p class="card-text">
                                    {{ annonce.introduction |raw|nl2br }}
                                </p>
                                <a href="{{path('annonces_show', {'id':annonce.id})}}" class="btn btn-secondary ">En savoir plus !</a>
                                {% if  app.user and app.user == annonce.author %}
                                    <a href="{{ path('annonces_edit', {'id': annonce.id}) }}" class="btn btn-primary">Modifier l'annonce</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="decalage"></div>
            <h1 class="text-white titlePage my-5"><strong>Il n'y a pas d'annonce pour l'instant !!!</strong></h1>
        {% endif %}
    </div>

{% endblock %}
