{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <div class="container">
        {% if annonces %}
            <h1 class="my-3">Voici les annonces du quartier</h1>
            <div class="row">
                {% for annonce in annonces  %}
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                {{ annonce.type }}
                            </div>
                            {{ include ('annonce/imageAnnonce.html.twig')  }}
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{ annonce.title }}
                                </h4>
                                <p class="card-text">
                                    {{ annonce.introduction }}
                                </p>
                                <a href="{{path('annonces_show', {'slug':annonce.slug})}}" class="btn btn-secondary">En savoir plus !</a>
                                {% if  app.user and app.user == annonce.author %}
                                    <a href="{{ path('annonces_edit', {'slug': annonce.slug}) }}" class="btn btn-primary">Modifier l'annonce</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1 class="my-3">Il n'y a pas d'annonce pour l'instant !!!</h1>
        {% endif %}
    </div>

{% endblock %}
