{% extends 'base.html.twig' %}

{% block title %}Création de votre fiche{% endblock %}

{% form_theme form _self %}

{% block body %}

    <div class="container bg-light py-5">
        <h1 class="decalage">Créez votre fiche utilisateur</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}

                <p>Mes informations personnelles</p>
                {{ form_row(form.imageFile,{
                    attr:{
                        'placeholder': 'Selectionnez une image,  facultatif'
                    }
                })
                }}
                {{ form_row(form.address) }}
                {{ form_row(form.city) }}
                {{ form_row(form.country) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.emailOk) }}
                {{ form_row(form.linkIn) }}
            </div>
            <div class="col-md-6">
                <p>Mon parcours</p>
                <div class="parcours1">
                    {{ form_row(form.yearsOne) }}
                    {{ form_row(form.categoryOne) }}
                    {{ form_row(form.typeScoolOne) }}
                    {{ form_row(form.specialOne) }}
                    {{ form_row(form.descriptionOne) }}
                </div>
                <div class="parcours2">
                    {{ form_row(form.yearsTwo) }}
                    {{ form_row(form.categoryTwo) }}
                    {{ form_row(form.typeScoolTwo) }}
                    {{ form_row(form.specialTwo) }}
                    {{ form_row(form.descriptionTwo) }}
                </div>
                <div class="parcours3">
                    {{ form_row(form.yearsThree) }}
                    {{ form_row(form.categoryThree) }}
                    {{ form_row(form.typeScoolThree) }}
                    {{ form_row(form.specialThree) }}
                    {{ form_row(form.descriptionThree) }}
                </div>
                <button type="button" class="btn btn-primary ajouter1">Ajoutez une formation</button>
                <button type="button" class="btn btn-primary ajouter2">Ajoutez une formation</button>
                <button type="button" class="btn btn-primary ajouter3">Ajoutez une formation</button>
                <div class="activityOk mt-3">
                    {{ form_row(form.profActivity) }}
                </div>
                <div class="parcours4">
                    {{ form_row(form.yourActivity) }}
                    {{ form_row(form.descriptionActivity) }}
                </div>

                <button type="submit" class="btn btn-primary mt-3">Valider</button>
                {{ form_end(form) }}
            </div>

        </div>
    </div>


{% block javascripts %}
    <script type="text/javascript" language="javascript">
        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
        });
        var parcours1 = document.querySelector('.parcours1');
        var parcours2 = document.querySelector('.parcours2');
        var parcours3 = document.querySelector('.parcours3');
        var parcours4 = document.querySelector('.parcours4');
        var btn1 = document.querySelector('.ajouter1');
        var btn2 = document.querySelector('.ajouter2');
        var btn3 = document.querySelector('.ajouter3');
        var activityOk =document.querySelector('#annonce_profActivity');

        var yearsOne1 = document.querySelector('#annonce_yearsOne_month');
        var yearsOne2 = document.querySelector('#annonce_yearsOne_day');
        yearsOne1.style.display = 'none';
        yearsOne2.style.display = 'none';
        var yearsTwo1 = document.querySelector('#annonce_yearsTwo_month');
        var yearsTwo2 = document.querySelector('#annonce_yearsTwo_day');
        yearsTwo1.style.display = 'none';
        yearsTwo2.style.display = 'none';
        var yearsThree1 = document.querySelector('#annonce_yearsThree_month');
        var yearsThree2 = document.querySelector('#annonce_yearsThree_day');
        yearsThree1.style.display = 'none';
        yearsThree2.style.display = 'none';


        parcours1.style.display = 'none';
        parcours2.style.display = 'none';
        parcours3.style.display = 'none';
        parcours4.style.display = 'none';
        btn2.style.display = 'none';
        btn3.style.display = 'none';

        $('.ajouter1').click(function () {
            parcours1.style.display = "block";
            btn2.style.display = "block";
            btn1.style.display = "none";
        })
        $('.ajouter2').click(function () {
            parcours2.style.display = "block";
            btn2.style.display = "none";
            btn3.style.display = "block";
        })
        $('.ajouter3').click(function () {
            parcours3.style.display = "block";
            btn2.style.display = "none";
            btn3.style.display = "none";
        })

        $('#annonce_profActivity').click(function(){
            if (activityOk.checked){
                parcours4.style.display = 'block';
            } else {
                parcours4.style.display = 'none';
            }
        })

    </script>

{% endblock %}

{% endblock %}