{% extends 'admin/base.html.twig' %}

{% block title %}Administration des inscrits{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des inscrits</h1>

        <table id="tab" class="table table-hover">
            <thead>
            <tr>
                <th>Nom / Prénom</th>
                <th>Année BAC</th>
                <th>Série BAC</th>
                <th>Options BAC</th>
                <th>Email</th>
                <th>Utilisateur approuvé</th>
                <th>Voir le fiche</th>
                <th class="text-center">Supprimer l'utilisateur</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.yearsBac | date ('Y')}}</td>
                    <td>{{ include('user/typeSerie.html.twig') }}</td>
                    <td >{{ user.BacSpec2|join(', ') }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.inscriVal == 0%}
                        <a href="{{ path('admin_user_val', {'id':user.id}) }}" class="btn btn-warning" onclick="return confirm(`Voulez vous valider cet utilisateur ?`)"><i class="fas fa-chalkboard-teacher"></i></a>
                        {% else %}
                        OK
                        {% endif%}
                    </td>
                    <td class="text-center"><a class="btn btn-success" href="{{path('user_show', {'id': user.id})}}"><i class="fas fa-money-check"></i></a></td>
                    {% if user != app.user %}
                        <td class="text-center">
                            <a href="{{ path('admin_user_delete', {'id':user.id}) }}" class="btn btn-danger" onclick="return confirm(`Êtes vous sur de vouloir supprimer cet utilisateur ?`)"><i class="fas fa-trash"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
    $(document).ready(function () {
    $('#tab').DataTable(
        {
            "language": {
                "lengthMenu": "Resultats _MENU_ par page",
                "zeroRecords": "Nothing found - sorry",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            }
        }
    );
    });
    </script>
{% endblock %}

