{% extends 'admin/base.html.twig' %}

{% block title %}Modifier une publication{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifiez votre publication</h1>

        {{ form_start(form) }}
        <div class="form-groupe">
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
            {{ form_label(form.text) }}
            {{ form_widget(form.text) }}
            <div class="row">
                <div class="col-md-6 mt-3">
                    {{ form_row(form.imageFile,{
                        attr:{
                            'placeholder': 'Selectionnez une image,  facultatif'
                        }
                    })
                    }}
                </div>
                <div class="col-md-6 mt-3">
                    {{ form_row(form.brochure,{
                        attr:{
                            'placeholder': 'Selectionnez un fichier,  facultatif'
                        }
                    })
                    }}
                </div>
            </div>


        </div>
        <button type="submit" class="btn btn-primary mt-3">Valider et publier</button>
        {{ form_end(form) }}
    </div>

{% endblock %}