{% extends 'admin/base.html.twig' %}

{% block title %}Administration des publications{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
        <h1 class=" col-10 my-3">Gestion des publications</h1>
         <div class="col-2 my-3">
             <a href="{{ path('admin_publication')}}" class="btn btn-primary"><i class="fas fa-newspaper"></i> Créer une publication</a>
         </div>
        </div>
        <table id="tab" class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th class="text-center">Auteur</th>
                <th class="text-center">Texte</th>
                <th>Image</th>
                <th>Fichier joint</th>
                <th class="text-center">Modifier / Supprimer la publication</th>

            </tr>
            </thead>
            <tbody>
            {% for publication in publications %}
                <tr>
                    <td>{{ publication.id }}</td>
                    <td>{{ publication.subject}}</td>
                    <td class="text-center">{{ publication.author.fullName }}</td>
                    <td>{{ publication.text|raw }}</td>
                    <td><img src="/pictures/annonces/{{ publication.image }}" alt="" style="height: 100px;"></td>
                    {% if publication.brochureFilename %}
                    <td><a href="{{ asset('uploads/brochures/' ~ publication.brochureFilename) }}">Télécharger le document joint (PDF)</a></td>
                    {% else %}
                        <td>Null</td>
                    {% endif %}
                    <td class="text-center">
                        <a href="{{ path('admin_publications_edit', {'id':publication.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_publications_delete', {'id':publication.id}) }}" class="btn btn-danger" onclick="return confirm(`Êtes vous sur de vouloir supprimer la publication ?`)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#tab').DataTable(
                {
                    "language": {
                        "lengthMenu": "Resultats _MENU_ par page",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Page _PAGE_ sur _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                }
            );
        });
    </script>
{% endblock %}