{% extends 'base.html.twig' %}

{% block title %}Vos message{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="decalage my-5 ">Votre messagerie</h1>
        <p ><i class="fas fa-exclamation-triangle text-warning"></i> Seule la personne recevant le message peut le suprimer !!!</p>
        <h4 class="text-primary">Message Reçus</h4>

        <table id="tab" class="table table-hover  bg-light">
            <thead>
            <tr>
                <th>Date</th>
                <th>Auteur</th>
                <th>Sujet</th>
                <th>Texte</th>
                <th>Repondre</th>
                <th class="text-center">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for messageRecu in messageRecu  %}
                <tr>
                    <td>{{ messageRecu.createdAt|date ("d/m/Y") }}</td>
                    <td>{{ messageRecu.author.fullname }}</td>
                    <td></td>
                    <td>{{ messageRecu.message |nl2br }}</td>
                    <td class="text-center">
                        <a href="{{path('repond', {'id':messageRecu.author.id})}}" class="btn btn-success" ><i class="fas fa-pen-alt"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="{{path('message_delete', {'id':messageRecu.id})}}" class="btn btn-danger" onclick="return confirm(`Êtes vous sur de vouloir supprimer le message ?`)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            {% for reponseRecu in reponsesRecu  %}
                <tr>
                    <td>{{ reponseRecu.createdAt|date ("d/m/Y") }}</td>
                    <td>{{ reponseRecu.author.fullname }}</td>
                    <td>{{ reponseRecu.subject }}</td>
                    <td>{{ reponseRecu.text |nl2br }}</td>
                    <td class="text-center">
                        <a href="{{path('repond', {'id':reponseRecu.author.id})}}" class="btn btn-success" ><i class="fas fa-pen-alt"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="{{path('repond_delete', {'id':reponseRecu.id})}}" class="btn btn-danger"><i class="fas fa-trash" onclick="return confirm(`Êtes vous sur de vouloir supprimer le message ?`)"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h4 class="mt-5 text-primary">Message Envoyés</h4>
        <table id="tab2" class="table table-hover  bg-light">
            <thead>
            <tr>
                <th>Date</th>
                <th>Destinataire</th>
                <th>Sujet</th>
                <th>Texte</th>

            </tr>
            </thead>
            <tbody>
            {% for message in messages  %}
                <tr>
                    <td>{{ message.createdAt|date ("d/m/Y") }}</td>
                    <td>{{ message.destinataire.author.fullname }}</td>
                    <td></td>
                    <td>{{ message.message }}</td>

                </tr>
            {% endfor %}
            {% for reponseSend in reponsesSend  %}

                <tr>
                    <td>{{ reponseSend.createdAt|date ("d/m/Y") }}</td>
                    <td>{{ reponseSend.destinataire.fullname }}</td>
                    <td>{{ reponseSend.subject }}</td>
                    <td>{{ reponseSend.text }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#tab').DataTable(
                {
                    "language": {
                        "lengthMenu": "Resultats _MENU_ par page",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Page _PAGE_ sur _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                }
            );
        });
        $(document).ready(function () {
            $('#tab2').DataTable(
                {
                    "language": {
                        "lengthMenu": "Resultats _MENU_ par page",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Page _PAGE_ sur _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                }
            );
        });
    </script>


{% endblock %}