{% extends 'base.html.twig'%}

{% block title %}Bienvenue{% endblock %}
{% block body %}
<div class="container">

    <div class="jumbotron" style="background-image: url(../pictures/village.jpg); background-size: cover; height: 610px;">
        <h1 class="display-3">Bienvenue sur le site de notre quartier</h1>
        <p class="lead">Partager, Echanger, Apprendre, Organiser, Fêter, Une vrai vie de quartier</p>

    </div>
    <div>
        <p>Des annoces, des évenements, des envies, des besoins, échanger simplement avec vos voisins pour se faciliter la vie et mutualiser ... </p>
    </div>

    <h2>Derniére information de l'ASL</h2>

    <div class="row">
        {% for annonce in annonces  %}
            <div >
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ annonce.type }}
                    </div>
                    {{ include ('annonce/imageAnnonce.html.twig')  }}
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ annonce.title }}
                        </h4>
                        <p class="card-text">
                            {{ annonce.introduction }}
                        </p>
                        <a href="{{path('annonces_show', {'slug':annonce.slug})}}" class="btn btn-secondary">En savoir plus !</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



    </div>




</div>
{% endblock %}






{% block javascripts %}{% endblock %}