{% extends 'base.html.twig' %}

{% block title %}Les Formations{% endblock %}


{% block body %}
    <script>

        function change(){
            if (window.document.formListe.liste.selectedIndex != 0)
                window.location = window.document.formListe.liste.options
                    [document.formListe.liste.selectedIndex].value
        }

    </script>
    <div class="container-fluid">
        <h1 class="" style="margin-top:120px;">Les parcours de formation</h1>

        <H3 class="mt-5">Trouvez les personnes en fonction de la <U>catégorie</U> ou du <U>type</U> de leurs formations</H3>

        <div >
            <div >
                <h5 class="mt-5 font-weight-bold">Selectionnez une catégorie de formation supérieure:</h5>
                <div class="">
                    <a class="btn btn-info m-2" href="{{path('user_show_cat', {'cat':'Sciences'})}}"><i class="fas fa-money-check"></i> Sciences</a>
                    <a class="btn btn-success m-2" href="{{path('user_show_cat', {'cat':'Langues'})}}"><i class="fas fa-money-check"></i> Langues</a>
                    <a class="btn btn-danger m-2" href="{{path('user_show_cat', {'cat':'Sport'})}}"><i class="fas fa-money-check"></i> Sport</a>
                    <a class="btn btn-warning m-2" href="{{path('user_show_cat', {'cat':'Science_humaine'})}}"><i class="fas fa-money-check"></i> Sciences Humaines</a>
                    <a class="btn btn-dark m-2" href="{{path('user_show_cat', {'cat':'Droit'})}}"><i class="fas fa-money-check"></i> Droit</a>
                    <a class="btn btn-secondary m-2" href="{{path('user_show_cat', {'cat':'Commerce'})}}"><i class="fas fa-money-check"></i> Commerce</a>
                    <a class="btn btn-primary m-2" href="{{path('user_show_cat', {'cat':'Litterature'})}}"><i class="fas fa-money-check"></i> Littérature</a>
                    <a class="btn btn-light m-2 border-secondary" href="{{path('user_show_cat', {'cat':'Arts'})}}"><i class="fas fa-money-check"></i> Arts</a>
                </div>
            </div>

            <div >
                <h5 class="mt-5 font-weight-bold">Ou selectionnez un type de formation supérieure:</h5>

                <div class="">
                  <form NAME="formListe">
                    <select NAME="liste" onChange="change()" size="1">
                        <option value=""> Choisissez un type de formation</option>
                        <option value="{{path('user_show_form', {'form':'DUT'})}}"> DUT</option>
                        <option value="{{path('user_show_form', {'form':'DEUST'})}}"> DEUST</option>
                        <option value="{{path('user_show_form', {'form':'BTS_BTSA'})}}"> BTS ou BTSA</option>
                        <option value="{{path('user_show_form', {'form':'Licences'})}}"> Licences</option>
                        <option value="{{path('user_show_form', {'form':'Licences_professionnelles'})}}"> Licences professionnelles</option>
                        <option value="{{path('user_show_form', {'form':'CPES'})}}"> CPES</option>
                        <option value="{{path('user_show_form', {'form':'Classes_preparatoires'})}}"> Classes préparatoires (CPGE)</option>
                        <option value="{{path('user_show_form', {'form':'Cycles_preparatoires'})}}"> Cycles préparatoires (écoles d'ingénieurs)</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_ingenieurs'})}}"> Écoles d'ingénieurs</option>
                        <option value="{{path('user_show_form', {'form':'Etudes_medicales'})}}"> Études médicales</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_paramedical'})}}"> Écoles du paramédical</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_social'})}}"> Écoles du social</option>
                        <option value="{{path('user_show_form', {'form':'IEP'})}}"> IEP</option>
                        <option value="{{path('user_show_form', {'form':'IEP'})}}"> ENS</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_commerce'})}}"> Ecoles de commerce</option>
                        <option value=""{{path('user_show_form', {'form':'Filiere_comptable'})}}"> Filière expertise comptable</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_specialisees'})}}"> Ecoles spécialisées</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_veterinaires'})}}"> Ecoles vétérinaires (ENV)</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_journalisme'})}}"> Ecoles de journalisme</option>
                        <option value="{{path('user_show_form', {'form':'Formation_enseignants'})}}"> Formation des enseignants</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_art'})}}"> Ecoles d'art</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_audiovisuel'})}}"> Ecoles d'audiovisuel)</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_police'})}}"> Ecoles de police</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_defense'})}}"> Écoles de la défense</option>
                        <option value="{{path('user_show_form', {'form':'Ecoles_gendarmerie'})}}"> Écoles de gendarmerie</option>

                    </select>
                  </form>
                </div>
            </div>


        </div>



    </div>



    <div class="container-fluid">
        <h2 class="my-5">Résultats de la recherche !!!</h2>

        <table id="tab" class="table table-hover">
            <thead>
            <tr>
                <th>Nom / Prénom</th>
                <th >Année d'obtention du Bac</th>
                <th >Série Bac</th>
                <th>Options BAC</th>
                <th >Edutiant / Prof.</th>
                <th class="text-center">En savoir plus !</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.author.fullname}}</td>
                    <td >{{ user.author.yearsBac | date ('Y') }}</td>
                    <td >{{ include('user/typeSerie3.html.twig') }}</td>
                    <td>{{ user.author.BacSpec2|join(', ') }}</td>
                    <td > {% if user.author.studOrTeach == 'Student' %}
                            <i class="fas fa-user-graduate"></i>
                        {% else %}
                            <i class="fas fa-chalkboard-teacher"></i>
                        {% endif%}
                    </td>
                    <td class="text-center"><a class="btn btn-success" href="{{path('user_show', {'id': user.author.id})}}"><i class="fas fa-money-check"></i></a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#tab').DataTable(
                {
                    "language": {
                        "lengthMenu": "Resultats _MENU_ par page",
                        "zeroRecords": "Nothing found - sorry",
                        "info": "Page _PAGE_ sur _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                }
            );
        });
    </script>

{% endblock %}